<div class="track-box col-xs-12 col-sm-12 col-md-6 mb-4">
<a href="/tracks/big-data">
    <div class="h-100 w-100 box-shadow hvr-float" style="background: white; border-left: #2D8D7F 12px solid;">
	<div class="track-image-box col-5 d-none d-md-block float-left" style="background-image: url(https://i.imgur.com/M6QVjka.png);">
	</div>
	<div class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
	    <div class="track-title-box mb-2">
		<p class="track-title">Big Data</p>
	    </div>
	    <div>
		<p class="track-description"> Learn to create Big Data workflows on the Cloud.</p>
	    </div>
	</div>
    </div>
</a>
</div>

