<div class="track-box col-xs-12 col-sm-12 col-md-6 mb-4">
<a href="/tracks/it-support">
    <div class="h-100 box-shadow hvr-float" style="background: white; border-left: #FAA54B 12px solid;">
	<div class="track-image-box col-5 d-none d-md-block float-left" style="background-image: url(https://i.imgur.com/CfmCrEt.png);">
	</div>
	<div class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
	    <div class="track-title-box mb-2">
		<p class="track-title">Modern IT Support</p>
	    </div>
	    <div>
		<p class="track-description">Engage customers with a vast set of skills to diagnose, troubleshoot and provide solutions</p>
	    </div>
	</div>
    </div>
</a>
</div>

