<div class="col-sm-12 col-md-6 h-100 mb-4" style="">
    <a href="#">
    <div class="h-100 track-box" style="background: white; border-left: #2D8D7F 12px solid; box-shadow: 5px 4px 4px 5px rgba(0,0,0,0.14);">
	<div class="track-image-box col-5 d-none d-md-block float-left" style="background-image: url(https://i.imgur.com/M6QVjka.png);">
	</div>
	 <div class="track-description-box col-md-7 col-xs-12 parent text-center text-md-left text-lg-left float-right p-0 h-100">
            <div class="track-title-box mb-2">
                <p class="track-title">Big Data</p>
            </div>
            <div>
                <p class="track-description"> Learn to create Big Data workflows on the Cloud.</p>
            </div>
        </div>
    </div>    
    </a>
</div>


