<div class="noot" style="padding-top: 2%;"> </div>
<div class="container container-cover" style="padding-bottom: 0;min-width:0;padding-top:2%; background:white">
    <h2 style="margin-bottom:0;padding-left: 15px;font-weight: 400;font-size: 1.5em;">Future-Ready Technology Program Tracks</h2>
</div>
<div class="container container-cover" style="height:70em; min-width:20em;background:white;">
    <div class="" style="height: 92%">
	<div class="col-md-12" style="height:100%">

	    <div class="row" style="height: 20%;">
		<%include file="carddata-science2.html" />	    
		<%include file="cardbig-data2.html" />
	    </div>

	    <div class="row" style="height: 20%;">
		<%include file="cardai2.html" />
		<%include file="carddevops2.html" />
	    </div>

	    <div class="row" style="height: 20%;">
		<%include file="carddata-analysis2.html" />
		<%include file="cardiot2.html" />
	    </div>

	    <div class="row" style="height: 20%;">
		<%include file="cardit-support2.html" />
		<%include file="cardsoftware-development2.html" />
	    </div>

	    <div class="row" style="height: 20%;">
		<%include file="cardcyber-security2.html" />
		<%include file="cardspecialized2.html" />
	    </div>

	</div>
    </div>
</div>
<div class="noot" style="padding-bottom: 2%;"> </div>
