<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.core.urlresolvers import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

 <main id="main" aria-label="Content" tabindex="-1">
<div class="hidden-xs filler"></div>
    <section class="home">
<div class="cover" style="position: relative;background: url(https://i.imgur.com/G0P0yAJ.jpg);background-size: cover;background-position-y: 19em; background-position-x: 9em;padding-bottom:2em; position:relative;">
        <div class="track-container container-cover" style="padding-top:3%;">
<div class="">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color: transparent;!important; margin-bottom: 0;">
    <li class="breadcrumb-item"><a href="../../">Home</a></li>
    <li class="breadcrumb-item"><a href="../all">Tracks</a></li>
    <li class="breadcrumb-item active" aria-current="page">Software Development</li>
  </ol>
</nav>
</div>
                <h1 class="header-title" style="text-align:center;">Say "Hello" to the World of Software Development</h1>
        <div class="header-description">
        <p style="font-size:1.2em; text-align:center;">Turn your ideas into products with software development.</p>

        <p style="font-size:1.2em; text-align:center;">Software Engineers are at the very core of the modern world with a constantly growing demand.</p>
        </div>
        </div>
</div>	

<div class="track-banner h-auto">
    <div style="background:#009FD9;" class="banner p-5 h-100">
        <div class="track-container banner-container h-100">
            <div class="col-12 p-2">
                <h1 class="text-white text-uppercase">Professional Program: Entry Level Software Development Track</h1>
            </div>
            <div class="row text-center p-2">
                <div class="banner-info col-4">
                    <div class="number"><h3>12</h3></div>
                    <div class="description"><h3>Required Courses</h3></div>
                </div>
                <div class="banner-info col-4">
                    <div class="number"><h3>8 - 16</h3></div>
                    <div class="description"><h3>Hours Per Course</h3></div>
                </div>
                <div class="banner-info col-4">
                    <div class="number"><h3>11</h3></div>
                    <div class="description"><h3>Skills to Learn</h3></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="courses-list-container">
    <%include file="courses_list7.html" />
</div>
    </section>
</main>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
