<div class="noot" style="padding-top: 2%;"> </div>

<div class="container px-0 py-3 h-auto position-relative" style="min-width:20em;background:white;">
    <div class="" style="height: 100%">
        <div class="col-md-12" style="height:100%">
            <div class="">
                <div class="my-3">
                    <h2 style="margin-bottom:0;font-weight: 400;font-size: 1.5em;">Future-Ready Technology Program Tracks</h2>
                </div>
            </div>
            <div class="row">
		<%include file="carddata-science.html" />
		<%include file="cardbig-data.html" />
            </div>
            <div class="row">
		<%include file="cardai.html" />
		<%include file="carddevops.html" />
            </div>
            <div class="row">
		<%include file="cardit-support.html" />
		<%include file="cardiot.html" />
            </div>
            <div class="row">
		<%include file="cardsoftware-development.html" />
		<%include file="carddata-analysis.html" />
            </div>
            <div class="row">
		<%include file="cardcyber-security.html" />
		<%include file="cardspecialized.html" />
            </div>
        </div>
    </div>
</div>


<div class="noot" style="padding-bottom: 2%;"> </div>
